*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    justify-content: center;
    align-items: center;


    >footer {
        position: sticky;
        top: 100vh;
    }
}

h1,
h2,
h3 {
    border: solid;
    border-radius: 10px;
    background-color: #FACF61;
    border-color: #FACF61;
    text-align: center;
    padding: 5px;
}

h3 {
    font-size: smaller !important;
}

/* ajustement navbar toutes les pages */
.header {
    display: inline-flex;
}

.Brand {
    background-color: #FACF61;
    flex-direction: column;
    padding: 50px;
    max-width: min-content;
    align-content: center;
}


/* mise en place main*/


.content {
    display: flex;
    flex-direction: row;
    padding: 5em;
    margin: 1em;
}


.bienvenue {
    border: solid;
    border-color: #FACF61;
    padding: 10px;
    border-radius: 10px;
}

article {
    border: solid;
    border-radius: 10px;
    border-color: #FACF61;
    padding: 5px;
    margin: 1.2em;

}

.actualites {
    flex-grow: 1;
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto;

}


/*aside ppage accueil */
aside {
    display: block;

}


#partnership {
    display: block;
    height: 300px;
    width: auto;
    max-width: 350px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-color: #FACF61;


}



#partnership img {
    display: block;
    max-width: 70%;
    max-height: 70%;
    margin: auto;
}

/* mise en place page presentation */
.image {
    display: flex;
    animation-duration: 25s;
    animation-name: artisana;
    animation-iteration-count: infinite;
}

/* animation du carousel page presentation*/
@keyframes artisana {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-50%);
    }

    50% {
        transform: translateX(-100%);
    }

    75% {
        transform: translateX(-150%);
    }

    80% {
        transform: translateX(-200%);
    }

    95% {
        transform: translateX(-250%);
    }

    100% {
        transform: translateX(0);
    }
}

#carousel {
    margin: auto;
    width: 50%;
    overflow: hidden;
}

img.club {
    display: block;
    width: 30%;
    height: auto;
    margin: auto;
}

.centrer {
    justify-content: center;
}

/* page bureau */
.membres {
    margin: 2em;
    justify-content: center;
    text-align: center;
}

img.member {
    display: block;
    width: 300px;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

img.equipe {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.bureau {
    display: flex;
    animation-duration: 25s;
    animation-name: bureau;
    animation-iteration-count: infinite;

}

@keyframes bureau {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-50%);
    }

    50% {
        transform: translateX(-100%);
    }

    75% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

/*page entrainements */
article.entrainements {
    display: flex;
    justify-content: center;
    text-align: center;
}

img.training {
    display: block;
    width: 300px;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.milieu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    border: hidden;
}

/* footer toutes les pages */

.footer-basic {
    padding: 40px 0;
    background-color: #FACF61;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    color: inherit;
    margin: 0 8px;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 2;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
}

/*size carousel en bloc*/
@media screen and (max-width: 1341px) {
    .header {
        display: block;
        margin: auto;
        padding: auto;
    }

    .Brand {
        display: flex;
        flex-direction: row;
        background-color: #FACF61;
        max-width: fit-content;
        margin: auto;
        padding: 20px;
        justify-content: space-between;
        text-align: left;

    }

    .content {
        display: block;
        padding: auto;
        margin: auto;
        justify-content: space-between;
        justify-items: center;
    }

    aside {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }


}


/* size logo with screen size*/

@media only screen and (min-width:200px) and (max-width:425px) {
    body {
        max-width: fit-content;
    }

    #logo {
        max-width: 40%;
    }

    .Brand {
        max-width: none;
    }

    .actualites {
        display: none;
    }

    .content {
        margin: 0;
        padding: 0;

    }

    aside {
        justify-content: center;
    }

    img.club {
        display: none;
    }

    img.member {

        width: 100px;

    }

    .milieu {
        padding: 30px;
        align-items: center;
    }

    @keyframes bureau {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-150%);
        }

        50% {
            transform: translateX(-400%);
        }

        75% {
            transform: translateX(-500%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .entrainements {
        display: block;
        justify-content: center;
        text-align: center;
    }

    img.training {
        width: 100px;
    }

}


@media only screen and (min-width: 426px) and (max-width: 768px) {
    #logo {
        max-width: 50%;

    }

    .actualites {
        display: block;
        text-align: center;
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
    }

    .Brand {
        padding: 50px;
    }

    img.club {
        width: 50%;
        height: 50%;
    }

}


@media only screen and (min-width:769px) {
    #logo {
        max-width: 80%;
        max-height: 80%;
    }

    .actualites {
        display: block;
        text-align: center;
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
    }
}

@media only screen and (min-width:992px) {
    #logo {
        max-width: 50%;
        max-height: 50%;
    }

    .actualites {
        display: block;
        text-align: center;
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
    }
}

@media only screen and (min-width:1341px) {
    #logo {
        max-width: 100%;
        max-height: 100%;
    }

    .actualites {
        display: block;
        text-align: center;
        overflow: scroll;
        overflow-y: auto;
        overflow-x: auto;
    }

}