html,
body {
    height: 100%;
}

section {
    background-color: #FACF61;
}

nav {
    margin: 2px;
}

#logo {
    text-align: center;
}

form {
    margin-left: 2em;
}


/* ajustment paw boar search */

#pawBoar {
    height: 2em;
    width: 2em;
}